# ----------------------------------------------------
# COMMON VARIABLES (FRONTEND & BACKEND)
# ----------------------------------------------------
# O URL do seu projeto no Supabase (ex: https://abcxyz.supabase.co)
VITE_SUPABASE_URL=

# A chave "anon public" do Supabase (para o frontend react)
VITE_SUPABASE_ANON_KEY=


# ----------------------------------------------------
# BACKEND ONLY VARIABLES (PYTHON)
# ----------------------------------------------------
# A chave "service_role" secreta (NUNCA vaze essa chave, ela ignora o RLS)
SUPABASE_SERVICE_ROLE_KEY=

ENVIRONMENT=development
